<% include ../header.ejs %>

	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Thank you! Your comment is being sent!</h1>
		</div>
		<a href="/"><button type="submit" class="btn btn-secondary">Go Home</button></a>
	</div>

<% include ../footer.ejs %>