<% include ../partials/header.ejs %>

	<div class='container'>
		<h3 class="d-flex justify-content-center text-primary font-weight-bold">
			<span class="cabin">Indexing Launcher</span>
		</h3>
		<div class="form-inline d-flex justify-content-center">
			<input type="text" name="indexerInput" id="indexerInput" class="form-control mr-2 col-6" placeholder="https://example.com">
			<button name="submitIndexer" id="submitIndexer" class="btn btn-primary">Search</button>	
		</div>

		<div id="indexerResults">
			
		</div>

	</div>

<% include ../partials/footer.ejs %>