<% include ../partials/header.ejs %>

	<div class='container'>
		<h3 class="d-flex justify-content-center text-danger font-weight-bold mb-3">
			<span class="cabin">History & Statistics</span>
		</h3>

			<table class="table table-striped">
			  	<thead class="table-danger">
			    	<tr>
			      		<th scope="col">Search Date</th>
			      		<th scope="col">Search Term</th>
			      		<th scope="col">Number of Search Results</th>
			      		<th scope="col">Search Time</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			  	<% for(let i = searchHist.length - 1; i >= 0; i--) {%>
			  		<tr>
			      		<th scope="row"><%= searchHist[i].searchDate%></th>
			      		<td><%=searchHist[i].terms %></td>
			      		<td><%= searchHist[i].count%></td>
			      		<td><%= searchHist[i].timeToSearch%></td>
			    	</tr>
	
			  	<% } %>
			  </tbody>
			</table>



	</div>

<% include ../partials/footer.ejs %>