<% include ../partials/header.ejs %>

	<div class='container'>
		<h3 class="d-flex justify-content-center text-primary font-weight-bold">
			<span class="cabin">Indexing Launcher</span>
		</h3>
		<div class="form-inline d-flex justify-content-center">
			<input type="text" name="indexerInput" id="indexerInput" class="form-control mr-2 col-6" placeholder="https://example.com">
			<button name="submitIndexer" id="submitIndexer" class="btn btn-primary">Search</button>	
		</div>


		<div class="container mt-3">
			<div id="indexerSuccess" class="d-flex justify-content-center text-secondary invisible">
				<h4>Successfully index URL! Click <a href="/my-search-engine">here</a> to search through our indexed URL's</h4>
			</div>
			<div id="indexerInvalid" class="d-flex justify-content-center text-secondary invisible">
				<h4>Invalid URL. Please try again.</h4>
			</div>
		</div>


	</div>

<% include ../partials/footer.ejs %>