<% include partials/header.ejs %>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">CSCI-355: Internet and Web Technologies</h1>
			<h1 class="text-center"><strong>Phase 2</strong></h1>	
		</div>
		<div class="container">
			<h3>This website was made using:
				<span class="badge badge-danger">Javascript</span>
				<span class="badge badge-dark">Node.js</span>
				<span class="badge badge-warning">Express</span>
				<span class="badge badge-success">EJS</span>
				<span class="badge badge-info">Bootstrap</span>
				<span class="badge badge-secondary">jQuery</span>
				<span class="badge badge-success">Google API</span>
				<span class="badge badge-warning">NPM</span>
				<span class="badge badge-danger">AJAX</span>
				<span class="badge badge-info">Google Fonts</span>
				<span class="badge badge-secondary">HTML</span>
				<span class="badge badge-primary">CSS</span>
			</h3>
		</div>
	</div>
<% include partials/footer.ejs %>


