<% include header.ejs %>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">CSCI-355: Internet and Web Technologies</h1>
			<h1 class="text-center"><strong>Phase 1</strong></h1>	
		</div>
		<div>
			<h3>This website was made using:
				<span class="badge badge-danger">Javascript</span>
				<span class="badge badge-primary">Node.js</span>
				<span class="badge badge-warning">Express</span>
				<span class="badge badge-success">EJS</span>
				<span class="badge badge-info">Bootstrap</span>
				<span class="badge badge-secondary">jQuery</span>
			</h3>
		</div>
	</div>
<% include footer.ejs %>


