<% include header.ejs %>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">CSCI-355: Internet and Web Technologies</h1>
			<h1 class="text-center"><strong>Phase 1</strong></h1>	
		</div>
	</div>
<% include footer.ejs %>


