<% include ../header.ejs %>

	<h1 class="text-center">The Developer:</h1>	
	<div class="row justify-content-md-center mt-3">
		<div class="card col-md-8 mb-3 border-secondary card-header">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		      <img src="/public/picture.png" class="card-img" alt="Photo of Ariana Mestel" style="border-radius: 10em">
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title text-secondary">Ariana Mestel</h5>
		        <p class="card-text text-secondary">I am a senior at Queens College, majoring in Computer Science. 
		        After graduating this fall, I will be working as a full stack software engineer. While I will be a full stack software engineer, I specialize in front end work. I have used many technolgies, including jQuery, node.js, express, react, mySQL, and much more. React is my favorite framework due to its dynamic nature and I look forward to using it when I start working!</p>
		        <div class="row">
		        	<div class="col-md-1"></div>
		        	<img class="col-md-2" src="/public/icons/icons8-react-native-50.png" alt="React icon">
		        	<img class="col-md-2" src="/public/icons/icons8-js-50.png" alt="Javascript icon">
		        	<img class="col-md-2" src="/public/icons/icons8-npm-50.png" alt="NPM icon">
		        	<img class="col-md-2" src="/public/icons/icons8-jquery-50.png" alt="jQuery icon">
		        	<img class="col-md-2" src="/public/icons/icons8-sql-50.png" alt="SQL icon">
		        	<div class="col-md-1"></div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

<% include ../footer.ejs %>