<% include ../header.ejs %>

	</div>
		<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="card">
				  <ul class="list-group list-group-flush">
				    <div class="list-group-item active">
				    	<h2 class="text-center">Geolocation:</h2>
				    </div>
					<li class="list-group-item" id="latitude">
						<strong>Latitude:</strong>
						<div id="spinner1" class="spinner-border text-primary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
					</li>
					<li class="list-group-item" id="longitude">
						<strong>Longitude:</strong> 
						<div id="spinner2" class="spinner-border text-primary" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
					</li>
				  </ul>
			</div>
		</div>
		<div class="col-3"></div>
	</div>

<% include ../footer.ejs %>