<% include ../partials/header.ejs %>

	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="card">
				  <ul class="list-group list-group-flush">
				    <div class="list-group-item active">
				    	<h2 class="text-center">Location:</h2>
				    </div>
					<li class="list-group-item" id="href">
						<strong>href:</strong> 
					</li>
					<li class="list-group-item" id="hostname">
						<strong>Hostname:</strong> 
					</li>
					<li class="list-group-item" id="pathname">
						<strong>PathName:</strong> 
					</li>
					<li class="list-group-item" id="protocol">
						<strong>Protocol:</strong> 
					</li>
				  </ul>
			</div>
		</div>
		<div class="col-3"></div>
	</div>

<% include ../partials/footer.ejs %>