<% include ../header.ejs %>

	<div class="container">
		<h1>Location: </h1>
		<p id="href">href: </p>
		<p id="hostname">Hostname: </p>
		<p id="pathname">PathName: </p>
		<p id="protocol">Protocol: </p>
	</div>

<% include ../footer.ejs %>