<% include ../header.ejs %>

	<div class="container">
		<h1>Navigator:</h1>
		<p id="appName">AppName: </p>
		<p id="product">Product: </p>
		<p id="appVersion">AppVersion: </p>
		<p id="userAgent">UserAgent: </p>
		<p id="platform">Platform: </p>
		<p id="language">Language: </p>
	</div>

<% include ../footer.ejs %>