<% include ../header.ejs %>

	<div class="container">
		<h1>Screen: </h1>
		<p id="width">Width: </p>
		<p id="height">Height: </p>
		<p id="availWidth">Available Width: </p>
		<p id="availHeight">Available Height: </p>
		<p id="colorDepth">Color Depth: </p>
		<p id="pixelDepth">Pixel Depth: </p>
	</div>

<% include ../footer.ejs %>